#table-container {
  position: relative;
  left: 0;
  width: 800px;
}

.fixed-table {
  width: 600px; /* Set the fixed width for the entire table */
  table-layout: fixed;
}

.fixed-table td {
  padding: 10px; /* Add padding for better appearance */
  text-align: center; /* Center text in cells */
}

.fixed-table td:first-child {
  width: 10%; /* Set a smaller width for the first column */
}

.fixed-table td:not(:first-child) {
  padding: 0;
  width: 40%; 
  background-color: black;/* Set a width for other columns */
}

.table-image {
  width: 450px; /* Default width */
  height: 450px; /* Default height */
  min-width: 10%; /* Minimum width when resized */
  max-width: 100%; /* Maximum width when resized */
  height: auto; /* Maintain aspect ratio */
  display: block;
  margin: 0 auto; /* Center the image horizontally */
  position: absolute;
  top: 0;
  left: 110%;
  transform: translateX(-50%);
}

.hidden {
  display: none;
}

.color {
  text-align: left;
}

/* Styling for the clicked row */
tr.clicked td {
  background-color: green;
  color: white; /* Change this to the desired text color */
}
